
@{
    ViewData["Title"] = "Repuestos";
    Layout = "~/Views/Shared/_Layout_Inner.cshtml";
}



<!DOCTYPE html>
<html lang="en">


<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->

        <div class="container">
            @Html.Partial("_Sidebar")
        </div>


        <!--End sidebar-wrapper-->
       

        <div class="clearfix"></div>

        <div class="content-wrapper">
            @*<div class="container-fluid">*@

            <!--Start Dashboard Content-->

            <a asp-action="Create" class="btn btn-primary">Agregar</a>

            <br />
            <br />

            <div class="col-lg-16">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Table</h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        @*<th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.Duenio)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.Direccion)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.Provincia_ID)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.Canton_ID)
                                        </th>
                                        <th>
                                        @Html.DisplayNameFor(model => model.Distrito_ID)
                                        </th>*@
                                        <th scope="col">Acciones</th>
                                        @*<th scope="col">Nombre</th>
                                        <th scope="col">Dueño</th>
                                        <th scope="col">Direccion</th>
                                        <th scope="col">Provincia_ID</th>
                                        <th scope="col">Canton_ID</th>
                                        <th scope="col">Distrito_ID</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @*  @foreach (var item in Model)
                                    {
                                    <tr>
                                    <th>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                    </th>
                                    <th>
                                    @Html.DisplayFor(modelItem => item.Duenio)
                                    </th>
                                    <th>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                    </th>
                                    <th>
                                    @Html.DisplayFor(modelItem => item.Provincia_ID)
                                    </th>
                                    <th>
                                    @Html.DisplayFor(modelItem => item.Canton_ID)
                                    </th>
                                    <th>
                                    @Html.DisplayFor(modelItem => item.Distrito_ID)
                                    </th>
                                    <th>
                                    <a asp-action="Edit" asp-route-ID="@item.Restaurante_ID" class="btn btn-info">Editar</a>
                                    <a asp-action="Delete" asp-route-ID="@item.Restaurante_ID" class="btn btn-info">Eliminar</a>
                                    </th>
                                    @*<th scope="row">1</th>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    </tr>
                                    }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @*</div><!--End Row-->*@
            <!--End Dashboard Content-->
            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->

        </div>
        <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
    <!--start color switcher-->
    <div class="right-sidebar">
        <div class="switcher-icon">
            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
        </div>
        <div class="right-sidebar-content">

            <p class="mb-0">Gaussion Texture</p>
            <hr>

            <ul class="switcher">
                <li id="theme1"></li>
                <li id="theme2"></li>
                <li id="theme3"></li>
                <li id="theme4"></li>
                <li id="theme5"></li>
                <li id="theme6"></li>
            </ul>

            <p class="mb-0">Gradient Background</p>
            <hr>

            <ul class="switcher">
                <li id="theme7"></li>
                <li id="theme8"></li>
                <li id="theme9"></li>
                <li id="theme10"></li>
                <li id="theme11"></li>
                <li id="theme12"></li>
                <li id="theme13"></li>
                <li id="theme14"></li>
                <li id="theme15"></li>
            </ul>

        </div>
    </div>
    <!--end color switcher-->
    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Externos/Dashboard/assets/js/jquery.min.js"></script>
    <script src="~/Externos/Dashboard/assets/js/popper.min.js"></script>
    <script src="~/Externos/Dashboard/assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="~/Externos/Dashboard/assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="~/Externos/Dashboard/assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    @*<script src="~/Externos/Dashboard/assets/js/jquery.loading-indicator.js"></script>*@
    <!-- Custom scripts -->
    <script src="~/Externos/Dashboard/assets/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="~/Externos/Dashboard/assets/plugins/Chart.js/Chart.min.js"></script>

    <!-- Index js -->
    <script src="~/Externos/Dashboard/assets/js/index.js"></script>


</body>
</html>

